{% extends 'includes/layout.njk' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/style/index.css">
{% endblock %}

{% block content %}
    <div class="videochat-container">
        {% include '_partial/owncast_embed.njk' %}
        {% include '_partial/chat_embed.njk' %}
    </div>
    
    {% include '_partial/schedule.njk' %}
{% endblock %}
