{% extends 'includes/layout.njk' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/style/page.css">
{% endblock %}


{% block content %}
    <div class="content-text">
        {% if page.source == 'shows/index.md' %}
            {{ page.more }}
            {% for p in site.pages.toArray() %}
                {% if p.source.startsWith('shows/') and p.source != "shows/index.md" %}
                    {% include '_partial/show_card.njk' %}
                {% endif %}
            {% endfor %}

        {% elif page.source == 'streamers/index.md' %}
            {{ page.more }}
            {% for p in site.pages.toArray() %}
                {% if p.source.startsWith('streamers/') and p.source != "streamers/index.md" %}
                    {% include '_partial/streamer_card.njk' %}
                {% endif %}
            {% endfor %}

        {% else %}
            {{ page.more }}
        {% endif %}
    </div>
{% endblock %}