<header>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <img class="logo" src="/assets/img/jnktn_logo_blackonyellow_border.png" alt="Jnktn.tv - Home" title="Home">
                </a>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/shows/">Shows</a></li>
            <li><a href="/streamers/">Streamers</a></li>
            <li><a href="/support">Support</a></li>
        </ul>
    </nav>
</header>