<div class="schedule-container">
    <div class="schedule">
        <details>
            {% set sup = 'th' %}
            {% if config.schedule.day === 1 %} {% set sup = 'st' %} {% endif %}
            {% if config.schedule.day === 2 %} {% set sup = 'nd' %} {% endif %}
            {% if config.schedule.day === 3 %} {% set sup = 'rd' %} {% endif %}
            <summary>Schedule: {{ config.schedule.day }}<sup>{{ sup }}</sup> {{ config.schedule.month }}</summary>
            
            <table>
                <tr>
                    <th>Time</th>
                    <th>Show</th>
                </tr>

                {% for slot in config.schedule.slots %}
                {% for show in site.pages.toArray() %}
                    {% if show.show_id == slot.show_id %}
                        <tr>
                            <td>{{ slot.begin }} - {{ slot.end }}</td>
                            <td><a href="{{ url_for(show.path) }}">{{ show.title }}</a> {% if slot.live === true %} (LIVE) {% endif %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% endfor %}
            </table>
            <p>All times in BST / UTC+1</p>
        </details>
    </div>
</div>