.videochat-container {
    display: flex;
    flex-direction: column;
}

/* Video START */
.video-container {
    border: 3px solid white;
    margin-bottom: 10px;
}

.video {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.video iframe {
    border: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Chat START */
.chat-container {
    border: 3px solid white;
    margin-bottom: 10px;
}

.chat {
    height: 350px;
}

.chat iframe {
    border: none;
    width: 100%;
    height: 100%;
}

/* Chat END */

/* Schedule START */
.schedule-container {
    background-color: #111;
    border: 3px dotted #e5cf18;
}

.schedule {
    /*background-color: #111;*/
    color: white;
}

.schedule summary {
    font-size: 1.4rem;
    /*font-weight: bold;*/
    text-align: center;
    color: black;
    padding: 10px;
    /*background-color: black;*/
    color: white;
    cursor: pointer;
}

.schedule details[open] summary {
    margin-bottom: .75rem;
}

.schedule table {
    font-size: 1.1rem;
    text-align: left;
    margin: auto;
    table-layout: fixed;
}

.schedule table a {
    text-decoration: none;
    color: #e5cf18;
    border-bottom: 2px solid white;
}

.schedule th {
    font-size: 1.2rem;
    padding: 10px 5px;
    border-bottom: 3px solid #e5cf18;
}

.schedule td {
    padding: 10px 5px;
    border-bottom: 1px solid #e5cf18;
}

.schedule p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
}

/* Schedule END */

/* Desktop Viewport */
@media screen and (min-width: 1024px) {

    .videochat-container {
        flex-direction: row;
    }

    .video-container {
        margin-right: 5px;
        width: 70%;
    }

    .chat-container {
        margin-left: 5px;
        width: 30%;
    }

    .chat {
        height: 100%;
    }

    .schedule summary {
        font-size: 1.8rem;
    }

    .schedule table {
        font-size: 1.5rem;
    }

    .schedule th {
        font-size: 1.7rem;
    }

    .schedule p {
        font-size: 1rem;
    }
}